@model ListModel<Book>
@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    string? category = request.Query["category"];

    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 1;
}

<h1>Product List</h1>

<!-- выбор категории -->
<div class="col-2 border-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @ViewData["currentCategory"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="product"
                       asp-route-category="">
                        Все
                    </a>
                </li>
                @foreach (var item in ViewData["categories"] as List<Category>)
                {
                    <li>
                        <a class="dropdown-item"
                           asp-controller="product"
                           asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
<!-- выбор категории -->

<div class="row">
    @foreach (var book in Model.Items)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@book.Image" width="360" height="500" class="card-img-top" alt="Banner">
                <div class="card-body">
                    <h5 class="card-title">@book.Name</h5>
                    <p class="card-text">@book.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: @book.Price</li>
                </ul>
                <div class="card-body">
                    <form asp-controller="Cart" asp-action="Add" method="post">
                        <input type="hidden" name="id" value="@book.Id" />
                        <input type="hidden" name="returnurl" value="@Context.Request.Path + Context.Request.QueryString.ToUriComponent()" />
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="product" asp-route-pageno="@prev"
               asp-route-category="@category" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var a = 1; a <= Model.TotalPages; a++)
        {
            <li class="page-item @(a == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-controller="product" asp-route-pageno="@a"
                   asp-route-category="@category">@a</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" asp-controller="product" asp-route-pageno="@next"
               asp-route-category="@category" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>